<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      

      <div class="admin-dashboard">
          <div class="sidenav">
          <ul>
              <li class="sidenav-space"> DASHBOARD</li>
              <li class="sidenav-space"> MANAGE LEADS
                  <ul>
                      <li> <a href="/admin/leads"> import leads</a></li>
                      <li> <a href="/admin/edit_records"> edit/delete leads</a></li>
                      <li> <a href="/admin/admin_lead_creation"> create new leads</a></li>
                  </ul>
              </li>
              <li class="sidenav-space"> REPORTS
                  <ul>
                      <li> <a href=""> Popular Routes</a></li>
                      <li> <a href=""> Most travelled customers</a></li>
                      <li> <a href=""> Best performing agents</a></li>
                      <li> <a href=""> totoal booked tickets</a></li>
                  </ul>
              </li>
              <li class="sidenav-space"> MANAGE USERS
                  <ul>
                      <li> <a href=""> Add/ Edit/ Delete Users</a></li>
                      <li> <a href=""> Manage Roles</a></li>
                  </ul>
               </li>
              <li class="sidenav-space"> Profile
                  <ul>
                      <li> <a href=""> Manage profile</a></li>
                      <li> <a href=""> Change password</a></li>
                  </ul>
              </li>
          </ul>
        </div> 
        <div class="main">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>                        
                    </button>
                    <a class="navbar-brand" href="#"><img src="/images/goflyfirst-logo.svg" alt="" style="width:290px;"></a>
                  </div>
                  <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                      <!-- <li><a href="/" class=""> Home</a></li> -->
                      <!-- <li><a href="#" class="">About Us</a></li>
                      <li><a href="#" class="">Services</a></li>
                      <li><a href="#" class="">Corporate</a></li>
                      <li><a href="#" class="">Contact</a></li> -->
                      <!-- <li><a href="/admin/sign_in" class="btn login">Login</a></li> -->
                      <li><a href="/admin/sign_out" class="btn login">Logout</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
            <%- body %>
        </div>
  </div>
             
        <!-- <% include ./layout/header.ejs %> -->
        
        <!-- <% include ./layout/footer.ejs%> -->
  </body>
</html>