
       <div class="hero-container">
        <div class="overlay">
        </div>
        <div class="hero-cell" style="    padding-top: 0;
        vertical-align: -webkit-baseline-middle;">
            <div class=" heroleft">
              <div class="content">
                <h1>Get Discounted Fares for First and Business Class</h1>
              </div>
            </div>
        </div>
        <div class="hero-cell w-55">
          <div class="container-fluid extra">
            <div class="row">
              <div class="col-md-12">
                  <div class="form-conatiner">
                    <br />
                    <h1> Login </h1>
                    <h3><a href="/sales_agent/sign_in"> PreSalesAgent Login </a> / <a href="/ticketagents/sign_in"> TicketAgent Login </a>
                    <span style="float:right;"><a href="/customer/sign_in"> Customer Login</a></span></h3>

                    <form class="form" action="/admin/login" method="POST" >
                        <div class="col-md-12">
                          <div class="form-group">
                            <label for=""> Email</label>
                            <input type="text" name="email" class="form-control">
                            <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                              <label for="">Password</label>
                              <input type="password"  name="password"class="form-control">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                          </div>
                        </div>
  
                            
                            <div class="col-md-12">
                              <div class="form-group">
                                  <input type="submit" value=" LOG IN" class="form-control">
                              </div>
                            </div>
                            <!-- <button type="button" onClick="submits()">Click me</button> -->
                      </form>
                    </div>
              </div>
            </div>
            <div class="clients">
                <ul class="list-inline">
                    
                  <li><img src="../images/300px-Qatar_Airways_Logo.svg.png" alt=""></li>
                  <li><img src="../images/798px-Lufthansa-Logo.svg.png" alt=""></li>
                  <li><img src="../images/logo-footer-singaporeairlines.png" alt=""></li>
                  <li><img src="../images/Swiss_new.svg.png" alt=""></li>
                </ul>
              </div>
          </div>
        </div>
</div>

